# Python Concepts

## Arrays !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

### Array Index concepts

In [2]:
#define an array
array_x = [1,2,3,4,5,6,7,8,9]  
array_x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
#array Index
array_x[:4]

[1, 2, 3, 4]

In [4]:
array_x[6:]

[7, 8, 9]

In [5]:
array_x[3:7]

[4, 5, 6, 7]

In [14]:
array_x[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
array_x[::2]

[1, 3, 5, 7, 9]

In [16]:
array_x[::3]

[1, 4, 7]

#### Left Rotation

In [7]:
# 3 left rotation
array_x[3:]+array_x[:3]

[4, 5, 6, 7, 8, 9, 1, 2, 3]

#### Reverse the array

In [9]:
array_x[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
array_x[::-2]

[9, 7, 5, 3, 1]

In [11]:
array_x[::-3]

[9, 6, 3]

## String !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [2]:
#Define a String
var1 = 'Hello World!'
var1

'Hello World!'

In [5]:
#Accessing Values in Strings
var1 = 'Hello World!'
var2 = "Python Programming"

print ("var1[0]: ", var1[0])
print ("var2[1:5]: ", var2[1:5])

var1[0]:  H
var2[1:5]:  ytho

In [10]:
#Updating Strings
var1 = 'Hello World!'
print ("Updated String :- ", var1[:6] +'Python')

Updated String :-  Hello Python

In [11]:
#String Formatting Operator
print ("My name is %s and weight is %d kg!" % ('Zara', 21))

My name is Zara and weight is 21 kg!

#### Built-in String Methods

In [12]:
#Capitalizes first letter of string
str = "this is string example....wow!!!";
str.capitalize()

'This is string example....wow!!!'

In [14]:
#number of occurrences of substring sub
str = "this is string example....wow!!!";
sub = "wow";
str.count(sub)

1

In [23]:
# String endswith() Method
str = "this is string example....wow!!!"
suffix = "wow!!!"

str.endswith(suffix)

True

In [24]:
str = "this is string example....wow!!!"
suffix = "is";
str.endswith(suffix, 2, 4)

True

In [25]:
#String find() Method
str1 = "this is string example....wow!!!";
str2 = "exam";

str1.find(str2)

15

In [29]:
str1.find(str2, 10)

15

In [30]:
# String index() Method
str1 = "this is string example....wow!!!";
str2 = "exam";

str1.index(str2)

15

In [31]:
str1.index(str2, 10)

15

In [34]:
# String isalnum() Method
str = "this2009"  # No space in this string
print (str.isalnum())       # alphanumeric character

str = "this is string example....wow!!!"
print (str.isalnum())    # no alphanumeric characters

True
False

In [35]:
#String isalpha() Method
str = "this"  # No space & digit in this string
print (str.isalpha())

str = "this is string example....wow!!!"
print (str.isalpha())   #alphabetic characters only

True
False

In [36]:
#String isdigit() Method
str = "123456"  # Only digit in this string
print (str.isdigit())

str = "this is string example....wow!!!"
print (str.isdigit())      # checks whether the string consists of digits only

True
False

In [38]:
#String islower() Method
str = "THIS is string example....wow!!!"; 
print (str.islower())

str = "this is string example....wow!!!";
print (str.islower())     #true if all cased characters in the string are lowercase

False
True

In [39]:
#String isnumeric() Method
str = u"this2009";  
print (str.isnumeric())

str = u"23443434";
print (str.isnumeric())    #string consists of only numeric characters

False
True

In [44]:
#String isspace() Method
str = "       "
print (str.isspace())

str = "This is string example....wow!!!"
print (str.isspace())         #whether the string consists of whitespace

True
False

In [45]:
#String istitle() Method
#checks whether all the case-based characters in the string following non-casebased letters are uppercase and all other case-based characters are lowercase
str = "This Is String Example...Wow!!!"
print (str.istitle())

str = "This is string example....wow!!!"
print (str.istitle())

True
False

In [46]:
#String isupper() Method
str = "THIS IS STRING EXAMPLE....WOW!!!"
print (str.isupper())

str = "THIS is string example....wow!!!"
print (str.isupper())

True
False

In [49]:
#String join() Method
s = "-";
seq = ("a", "b", "c")   # This is sequence of strings.
s.join( seq )

'a-b-c'

In [50]:
#String len() Method
str = "this is string example....wow!!!"
len(str)

32

In [53]:
#String ljust() Method
#Padding is done using the specified fillchar
str = "this is string example....wow!!!"
str.ljust(50, '0')

'this is string example....wow!!!000000000000000000'

In [54]:
#String lower() Method
str = "THIS IS STRING EXAMPLE....WOW!!!"
str.lower()

'this is string example....wow!!!'

In [55]:
#String lstrip() Method
str = "     this is string example....wow!!!     ";
print (str.lstrip())
str = "88888888this is string example....wow!!!8888888";
print (str.lstrip('8'))

this is string example....wow!!!
this is string example....wow!!!8888888

In [60]:
# String max() Method
#returns the max alphabetical character from the string str
str = "this is really a string example....wow!!!"
print ("Max character: " + max(str))

str = "this is a string example....wow!!!"
print ("Max character: " + max(str))

Max character: y
Max character: x

In [63]:
# String min() Method 
# returns the min alphabetical character from the string str
str = "this-is-real-string-example....wow!!!"
print ("Min character: " + min(str))

str = "this-is-a-string-example....wow!!!"
print ("Min character: " + min(str))

Min character: !
Min character: !

In [64]:
#String replace() Method
str = "this is string example....wow!!! this is really string"
print (str.replace("is", "was"))
print (str.replace("is", "was", 3))

thwas was string example....wow!!! thwas was really string
thwas was string example....wow!!! thwas is really string

In [65]:
# String rfind() Method
str1 = "this is really a string example....wow!!!";
str2 = "is";

print (str1.rfind(str2))
print (str1.rfind(str2, 0, 10))
print (str1.rfind(str2, 10, 0))

print (str1.find(str2))
print (str1.find(str2, 0, 10))
print (str1.find(str2, 10, 0))

5
5
-1
2
2
-1

In [66]:
# String rindex() Method
str1 = "this is string example....wow!!!"
str2 = "is"

print (str1.rindex(str2))
print (str1.index(str2))

5
2

In [68]:
#String rjust() Method
#str.rjust(width[, fillchar])
str = "this is string example....wow!!!";
print (str.rjust(50, '0'))

000000000000000000this is string example....wow!!!

In [69]:
#String rstrip() Method
str = "     this is string example....wow!!!     ";
print (str.rstrip())
str = "88888888this is string example....wow!!!8888888";
print (str.rstrip('8'))

     this is string example....wow!!!
88888888this is string example....wow!!!

In [70]:
# String split() Method
str = "Line1-abcdef \nLine2-abc \nLine4-abcd";
print (str.split( ))
print (str.split(' ', 1 ))

['Line1-abcdef', 'Line2-abc', 'Line4-abcd']
['Line1-abcdef', '\nLine2-abc \nLine4-abcd']

In [71]:
# String splitlines() Method
str = "Line1-a b c d e f\nLine2- a b c\n\nLine4- a b c d";
print (str.splitlines( 0 ))
print (str.splitlines( 3 ))
print (str.splitlines( 4 ))
print (str.splitlines( 5 ))

['Line1-a b c d e f', 'Line2- a b c', '', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', '\n', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', '\n', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', '\n', 'Line4- a b c d']

In [72]:
# String startswith() Method
str = "this is string example....wow!!!";
print (str.startswith( 'this' ))
print (str.startswith( 'is', 2, 4 ))
print (str.startswith( 'this', 2, 4 ))

True
True
False

In [73]:
# String strip() Method
str = "0000000this is string example....wow!!!0000000";
print (str.strip( '0' ))

this is string example....wow!!!

In [74]:
#String swapcase() Method
str = "this is string example....wow!!!";
print (str.swapcase())

str = "THIS IS STRING EXAMPLE....WOW!!!";
print (str.swapcase())

THIS IS STRING EXAMPLE....WOW!!!
this is string example....wow!!!

In [75]:
# String title() Method
str = "this is string example....wow!!!";
str.title()

'This Is String Example....Wow!!!'

In [76]:
# String upper() Method
str = "this is string example....wow!!!";
str.upper()

'THIS IS STRING EXAMPLE....WOW!!!'

In [77]:
# String zfill() Method
str = "this is string example....wow!!!";
print (str.zfill(40))
print (str.zfill(50))

00000000this is string example....wow!!!
000000000000000000this is string example....wow!!!

In [78]:
# String isdecimal() Method
str = u"this2009"  
print (str.isdecimal())

str = u"23443434";
print (str.isdecimal())

False
True

## Lists !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [8]:
# Create a list
list1 = ['physics', 'chemistry', 1997, 2000]
list1

['physics', 'chemistry', 1997, 2000]

In [9]:
list2 = [1, 2, 3, 4, 5 ]
list2

[1, 2, 3, 4, 5]

In [11]:
#Accessing Values in Lists
list1 = ['physics', 'chemistry', 1997, 2000]
list1[0]

'physics'

In [12]:
list2 = [1, 2, 3, 4, 5, 6, 7 ];
list2[1:5]

[2, 3, 4, 5]

In [13]:
#Updating Lists
list = ['physics', 'chemistry', 1997, 2000]
list[2]

1997

In [15]:
list[2] = 2001;
list

['physics', 'chemistry', 2001, 2000]

In [17]:
#Delete List Elements
list1 = ['physics', 'chemistry', 1997, 2000];
del list1[2]
list1

['physics', 'chemistry', 2000]

#### Basic List Operations

In [18]:
# Length of list
len([1, 2, 3])

3

In [19]:
#Concatenation
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [20]:
#Repetition
['Hi!'] * 4

['Hi!', 'Hi!', 'Hi!', 'Hi!']

#### Indexing, Slicing, and Matrixes

In [21]:
L = ['spam', 'Spam', 'SPAM!']
L[2]

'SPAM!'

In [22]:
L[-2]

'Spam'

In [23]:
L[1:]

['Spam', 'SPAM!']

#### Built-in List Functions & Methods

In [25]:
#length of the list
list3 = [1, 2, 3, 4, 5, 6]
len(list3)

6

In [26]:
#Returns item from the list with max value
max(list3)

6

In [27]:
#Returns item from the list with min value
min(list3)

1

In [35]:
# Append method in list
aList = [123, 'xyz', 'zara', 'abc']
aList.append( 2009 )
aList

[123, 'xyz', 'zara', 'abc', 2009]

In [37]:
# Returns count of how many times 'abc' occurs in list
aList.count('abc')

1

In [38]:
#Appends the contents of seq to list
aList = [123, 'xyz', 'zara', 'abc', 123];
bList = [2009, 'manni'];
aList.extend(bList)
aList

[123, 'xyz', 'zara', 'abc', 123, 2009, 'manni']

In [39]:
# Returns the lowest index in list that obj appears
aList = [123, 'xyz', 'zara', 'abc'];
aList.index( 'xyz' )

1

In [40]:
# Inserts object obj into list at offset index
aList = [123, 'xyz', 'zara', 'abc']
aList.insert( 3, 2009)
aList

[123, 'xyz', 'zara', 2009, 'abc']

In [52]:
# Removes and returns last object or obj from list
aList = [123, 'xyz', 'zara', 'abc']
aList.pop()

'abc'

In [54]:
# Removes object obj from list
aList = [123, 'xyz', 'zara', 'abc', 'xyz']
aList.remove('xyz')
aList

[123, 'zara', 'abc', 'xyz']

In [60]:
# Reverses objects of list in place
aList = [123, 'xyz', 'zara', 'abc', 'xyz']
aList.reverse()
aList

['xyz', 'abc', 'zara', 'xyz', 123]

In [61]:
# Sorts objects of list, use compare func if given
aList = ['xyz', 'zara', 'abc', 'xyz']
aList.sort()
aList

['abc', 'xyz', 'xyz', 'zara']

## Tuples !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

A tuple is a sequence of immutable Python objects

#### Creating a tuple

In [79]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup1

('physics', 'chemistry', 1997, 2000)

In [80]:
tup2 = (1, 2, 3, 4, 5 )
tup2

(1, 2, 3, 4, 5)

In [81]:
tup3 = "a", "b", "c", "d"
tup3

('a', 'b', 'c', 'd')

#### Accessing Values in Tuples

In [82]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup1[0]

'physics'

In [83]:
tup2 = (1, 2, 3, 4, 5, 6, 7 )
tup2[1:5]

(2, 3, 4, 5)

#### Updating Tuples

Tuples are immutable which means you cannot update or change the values of tuple elements

You are able to take portions of existing tuples to create new tuples

In [84]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
tup3

(12, 34.56, 'abc', 'xyz')

#### Delete Tuple Elements

Removing individual tuple elements is not possible

#### Basic Tuples Operations

In [85]:
#Length
len((1, 2, 3))

3

In [86]:
#Concatenation
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [88]:
#Repetition
('Hi!',) * 4

('Hi!', 'Hi!', 'Hi!', 'Hi!')

In [89]:
#Membership
3 in (1, 2, 3)

True

In [90]:
#Iteration
for x in (1, 2, 3): print (x,)

1
2
3

In [92]:
# Indexing 
L = ('Spam', 'SPAM!')
L[1]

'SPAM!'

#### Built-in Tuple Functions

In [94]:
#Gives the total length of the tuple
tuple1, tuple2 = (123, 'xyz', 'zara'), (456, 'abc')
len(tuple1)

3

In [100]:
#Returns item from the tuple with max value
tuple1, tuple2 = (123, 'xyz', 'zara', 'abc'), (456, 700, 200)
max(tuple2)

700

In [99]:
#Returns item from the tuple with min value
tuple1, tuple2 = (123, 'xyz', 'zara', 'abc'), (456, 700, 200)
min(tuple2)

200

In [98]:
#Converts a list into tuple.
aList = (123, 'xyz', 'zara', 'abc')
aTuple = tuple(aList)
aTuple

(123, 'xyz', 'zara', 'abc')

## Sets !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [1]:
# Creating a set
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months={"Jan","Feb","Mar"}
Dates={21,22,17}
print(Days)
print(Months)
print(Dates)

{'Tue', 'Sat', 'Fri', 'Thu', 'Wed', 'Mon', 'Sun'}
{'Feb', 'Jan', 'Mar'}
{17, 21, 22}

In [2]:
#Accessing Values in a Set
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
 
for d in Days:
	print(d)

Tue
Sat
Fri
Thu
Wed
Mon
Sun

In [3]:
#Adding Items to a Set
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
 
Days.add("Sun")
print(Days)

{'Tue', 'Sat', 'Fri', 'Thu', 'Wed', 'Mon', 'Sun'}

In [4]:
#Removing Item from a Set
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
 
Days.discard("Sun")
print(Days)

{'Tue', 'Sat', 'Fri', 'Thu', 'Wed', 'Mon'}

In [5]:
#Union of Sets
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA|DaysB
print(AllDays)

{'Tue', 'Sat', 'Fri', 'Thu', 'Wed', 'Mon', 'Sun'}

In [6]:
#Intersection of Sets
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA & DaysB
print(AllDays)

{'Wed'}

In [7]:
#Difference of Sets
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA - DaysB
print(AllDays)

{'Mon', 'Tue'}

In [8]:
# Compare Sets
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

True
True

## Dictionary !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

#### Introduction of Dictionary

Keys are unique within a dictionary while values may not be.

The values of a dictionary can be of any type, but the keys must be of an immutable data type such as strings, numbers, or tuples.

#### Accessing Values in Dictionary

In [3]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

#### Updating Dictionary

In [5]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8;                              # update existing entry
dict['School'] = "DPS School";                # Add new entry

print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School

#### Delete Dictionary Elements

In [7]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name']                                # remove entry with key 'Name'
dict

{'Age': 7, 'Class': 'First'}

In [9]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict.clear()
dict

{}

In [12]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict
dict

dict

#### Properties of Dictionary Keys

In [14]:
#1, no duplicate key is allowed
dict = {'Name': 'Zara', 'Age': 7, 'Name': 'Manni'}
dict['Name']                    #the last assignment wins

'Manni'

#### Built-in Dictionary Functions & Methods

In [18]:
# dictionary len() Method
dict = {'Name': 'Zara', 'Age': 7};
len (dict)

2

In [20]:
# type of dictinary
dict = {'Name': 'Zara', 'Age': 7};
type (dict)

dict